.HotItemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 31%;
    margin: 0.7vmax;
    transition: all 0.2s;
    cursor: pointer;

}

.HotItemCard:hover {
    transform: translateY(-0.4vmax);
    box-shadow: 0px 6px 15px rgba(53, 53, 53, 0.363);
}

.HotItemCard>img {
    width: 70%;
}

.HotItemCard>p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(85, 83, 83);
}

.HotItemCard>span {
    margin: -1vmax 0 1vmax 0;
    color: orangered;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width:768px) and (min-width:425px){
    .HotItemCard p{
        text-align: center;
    }
     
}
@media only screen and (max-width:426px) and (min-width:250px){
  .HotItemCard{
    width: 97%;
  }
}